<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #8B4513; /* Brown */
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #5B3A29; /* Darker brown */
}

button {
    background-color: #D2B48C; /* Light brown */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #C2A174; /* Slightly darker */
}
=======
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #8B4513; /* Brown */
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #5B3A29; /* Darker brown */
}

button {
    background-color: #D2B48C; /* Light brown */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #C2A174; /* Slightly darker */
}
>>>>>>> a0501fb2aecda9230a9329b19ddab254e2aba35d
