<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/aboutus.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/adopt">Adopt</a></li>
                    <li><a href="/community">Community</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <h1 class="site-title">PetFam</h1>
        </div>
    </header>  
    </header>
    <section id="about">
        <div class="about-col-2">
            <h1 class="sub-title">ABOUT US</h1>
            <p>Welcome to the wonderful world of Indian granite stones. Granite stones from India occupy a prominent place among dimensional stones.

                It generally possesses fascinating colors heavy gloss mirror polish and textural patterns.
                
                Granite is one of the most exclusive stones among all building stones as it is an extremely hard material it can be widely used for many applications such as countertops, worktops, table tops, flooring, walls, driveways, etc., in the form of random slabs and tiles. 
                
                Sahaydri stones is the supplier and exporter of a natural exquisite array of fine granite of varied colors and designs.
                
                Sahaydri Stones is a leading supplier and exporter of Indian Granite. The company's core strength lies in its constant endeavor to promote new varieties of world-class products time to time and also its ability to have a fine-tuned concept of customer satisfaction to understand its clients' needs. We are competent to supply natural stone blocks, slabs, and cut to size as per customer's requirement. Polished, flamed, and sandblasted or brushed, plus a range of custom-fabricated granite artifacts</p>
        </div>
        <div class="about-col-1">
            <img src="../static/images/dog with cat.png" alt="About Us Image">
        </div>
    </section>
</body>
</html>
