{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/add_finance.css"> 
<h2>Add Finance Entry</h2>
<div class="container">
    <form method="post">
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <button type="submit">Add Finance</button>
    </form>
    <a href="{{ url_for('admin') }}">Back to Admin Panel</a> <!-- Added link here -->
</div>
{% endblock %}
