<!DOCTYPE html>
<html>
<head>
<title>Pet Adoption </title>
<link rel="stylesheet" href="../static/styles/adopt.css">
</head>
<body>
<header>
    <div class="logo">
    Pet Adoption 
    </div>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/adopt">Adopt</a></li>
        <li><a href="/foster">Foster</a></li>
        <li><a href="/donation">Donation</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
    </nav>
</header>
<main>
    <div class="search-bar">
    <input type="text" placeholder="Search pet to adopt">
    <button>Search</button>
    </div>
    <div class="pet-categories">
    <button class="active">DOGS</button>
    <button>CATS</button>
    <button>PARROT</button>
    <button>RABBIT</button>
    </div>
    <div class="pet-cards">
    <div class="pet-card">
        <img src="../static/images/dog1.png" alt="Peter Beagle">
        <div class="pet-info">
        <h3>PETER</h3>
        <p>Beagle Dog</p>
        <p>1.5 years old</p>
        <p>Distance 2.5km</p>
        <div class="pet-details">
            <span>Breed: Beagle</span>
            <span>Sex: Male</span>
            <span>Age: 1.5 years old</span>
            <span>Weight: 20 pounds</span>
            <button>About</button>
        </div>
        <div class="pet-details-modal">
            <div class="pet-details-modal-content">
            <h2>PETER</h2>
            <p>Peter is a super friendly and needs so much love and attention. Peter loves to play. He will make great companions for children and do well with cats and other dogs.</p>
            <button>Adoption</button>
            </div>
        </div>
        </div>
    </div>
    <div class="pet-card">
        <img src="../static/images/dog2.png" alt="Carla Pomeranian">
        <div class="pet-info">
        <h3>CARLA</h3>
        <p>Indie Dog</p>
        <p>1 year old</p>
        <p>Distance 4.5km</p>
        <div class="pet-details">
            <span>Breed: Indie</span>
            <span>Sex: Female</span>
            <span>Age: 1 year old</span>
            <span>Weight: 10 pounds</span>
            <button>About</button>
        </div>
        <div class="pet-details-modal">
            <div class="pet-details-modal-content">
            <h2>CARLA</h2>
            <p>Carla is a playful and energetic Indie. She loves to cuddle and is very affectionate. Carla is great with children and other pets.</p>
            <button>Adoption</button>
            </div>
        </div>
        </div>
    div>
    </div>
</main>
<footer>
    &copy; Pet Adoption App 2023
</footer>
</body>
</html>