<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <nav>
        <ul>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="community.html">Community</a></li>
            <li><a href="donation.html">Donation</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="adopt.html">Adopt</a></li>
        </ul>
    </nav>
</body>
</html>